html(lang="en")
  head
    intercept-url(pattern="/favicon.ico" access="ROLE_ANONYMOUS")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
  body
    #app

    <!-- build:css -->
    <!-- endbuild -->
    <!-- build:js -->
    <!-- endbuild -->