$icon-font-path: 'node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap-compass';
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

//@font-face {
//  font-family: 'Glyphicons Halflings';
//  src: url('../node_modules/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot');
//  src: url('../node_modules/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
//       url('../node_modules/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
//       url('../node_modules/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
//       url('../node_modules/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
//}
$fire-color: rgb(230, 57, 57);
$grass-color: rgb(66, 201, 66);
$normal-color: rgb(168, 168, 120);
$fighting-color: rgb(192, 48, 40);
$water-color: rgb(104, 144, 240);
$flying-color: rgb(168, 144, 240);
$poison-color: rgb(160, 64, 160);
$electric-color: rgb(248, 208, 48);
$ground-color: rgb(224, 192, 104);
$psychic-color: rgb(248, 88, 136);
$rock-color: rgb(184, 160, 56);
$ice-color: rgb(152, 216, 216);
$bug-color: rgb(168, 184, 32);
$dragon-color: rgb(112, 56, 248);
$ghost-color: rgb(112, 88, 152);
$dark-color: rgb(112, 88, 72);
$steel-color: rgb(184, 184, 208);
$fairy-color: rgb(238, 153, 172);


.title-center {
	margin-top: 0;
	text-align: center;
	border: 2px solid black;
}

.element {
	border: 2px solid black;
	padding: 1rem;
}

.center {
	margin: 0 auto 1rem auto;
	text-align: center;
}

.default-type {
	margin-top: 0;
	text-align: center;
	border-radius: 5px;
	padding: 0.5rem 0rem 0.5rem 0rem;
}

@mixin element-gradient($el-color, $border-color) {
	@extend .default-type;
	border: 1px $border-color solid;
	background: $el-color;
	background: -webkit-linear-gradient(rgba($el-color, 0.5),rgba($el-color, 0.3), rgba($el-color, 0.5)); /*Safari 5.1-6*/
  background: -o-linear-gradient(rgba($el-color, 0.5),rgba($el-color, 0.3), rgba($el-color, 0.5)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(rgba($el-color, 0.5),rgba($el-color, 0.3), rgba($el-color, 0.5)); /*Fx 3.6-15*/
  background: linear-gradient(rgba($el-color, 0.5),rgba($el-color, 0.3), rgba($el-color, 0.5)); /*Standard*/
}

.fire {
	@include element-gradient($fire-color, #be3939);
}

.grass {
	@include element-gradient($grass-color, #237523);
}

.fighting {
	@include element-gradient($fighting-color, #7D1F1A);
}

.normal {
	@include element-gradient($normal-color, #6D6D4E);
}

.water {
	@include element-gradient($water-color, #445E9C);
}

.flying {
	@include element-gradient($flying-color, #6D5E9C);
}

.poison {
	@include element-gradient($poison-color, #682A68);
}

.electric {
	@include element-gradient($electric-color, #A1871F);
}

.ground {
	@include element-gradient($ground-color, #927D44);
}

.psychic {
	@include element-gradient($psychic-color, #A13959);
}

.rock {
	@include element-gradient($rock-color, #786824);
}

.ice {
	@include element-gradient($ice-color, #638D8D);
}

.bug {
	@include element-gradient($bug-color, #6D7815);
}

.dragon {
	@include element-gradient($dragon-color, #4924A1);
}

.ghost {
	@include element-gradient($ghost-color, #493963);
}

.steel {
	@include element-gradient($steel-color, #787887);
}

.fairy {
	@include element-gradient($fairy-color, #9B6470);
}

.type-class {
	padding: 0 0.2rem;
}

.load-button {
	margin-top: 3rem;
}

.bottom-margin {
	margin-bottom: 1rem;
}

.left-inner-addon {
	position: relative;
	margin-bottom: 1rem;
	input {
		padding-left: 30px;
	}
	i {
		position: absolute;
		padding: 10px 12px;
		pointer-events: none;
	}
}
